@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/3PcY-BCtZWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-8">
            <a href="https://www.kodlab.com/programlama/618-aspnet-core-ile-proje-gelistirme-9786257440400.html">
                <img src="images/Book.png" width="800" height="315" alt="Asp.net Core Book" />
            </a>
        </div>
    </div>



</div>
